body {
  font-family: sans-serif;
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;  /* Ensure the form elements are stacked vertically */
  gap: 1em;                /* Add space between form elements */
  max-width: 90vw;         /* Updated to handle mobile devices */
  margin: auto;
}

label {
  font-weight: bold;       /* Make the labels bold */
  margin-bottom: 0.5em;    /* Add space below labels */
}

input, textarea {
  padding: 0.5em;
  width: 100%;            /* Make input fields take up full width */
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

button[type="submit"] {
  padding: 10px 20px;
  margin: 10px auto;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  margin: 10px auto;
  cursor: pointer;
}
